.ucoin-requests-card {
    width: 100%;
    background-color: #3A3838;
    min-height: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

#ucoin-requests-card__image{
    width: 230px;
    height: 200px;
    border-radius: 12px;
}
.ucoin-requests-card__image-container {
    width: 30%;
    margin-right: 100px;
}
.ucoin-requests-card__info {
    width: 70%;
    text-align: start;
}
.ucoin-requests-card__info_title {
    margin-right: 55px;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #B7B7B7;
    
}
.ucoin-requests-card__info__comment {
    display: inline-block;
    background: #524F4F;
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    margin-right: 10px;
}
.ucoin-requests-card__info__email {
    padding-top: 10px;
    padding-bottom: 25px;
}
.ucoin-requests-card__info__ucoins {
    display: inline-block;
    background: #524F4F;
    border-radius: 4px;
    padding: 5px;
    width: 10%;
    height: 40px;
    text-align: center;
}
.ucoin-requests-card__info__ucoins {
    color: #F2CB05;
}
.ucoin-requests-card__buttons {
    margin-top: 40px;
    font-size: 22px;
    text-align: end;
}
.ucoin-requests-card__accept, .ucoin-requests-card__refuse {
    display: inline-block;
    cursor: pointer;
    padding-right: 60px;
}
.ucoin-requests-card__title {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin-top: -25px;
    margin-bottom: 45px;
}
.ucoin-requests-card__name {
    margin-bottom: 45px;
}
.get-ucoins-comment {
    margin-bottom: 35px;
}
.refuse_request {
    
    margin-right: -450px;
}