body {
  margin: 0;
  font-family: 'Hero';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #302E2E
}


.App {
  position: relative;
  max-width: 1440px;
  margin: auto;
  background: #302E2E;
}
a {
  color: white;
  text-decoration: none;
}