.button {
    width: 280px;
    height: 45px;
    border: none;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 700;
    border-radius: 36px;
    font-size: 20px;
    cursor: pointer;
}