.button {
    width: 330px;
    background-color: #00D29D;
    border: none;
    font-family: 'Hero';
    font-style: normal;
    font-weight: 700;
    border-radius: 36px;
    font-size: 25px;
    padding: 15px 0;
    cursor: pointer;
}