@font-face {
    font-family: 'Hero';
    src: local('Hero Light'), local('Hero-Light'), url('/public/fonts/Heroregular.woff2') format('woff2'), url('/public/fonts/Heroregular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
body {
    font-weight: normal;
    font-size: 24px;
    color: white;
    font-style: normal;
    overflow-x: hidden;
    font-family: 'Hero';
}
.container {
    max-width: 1470px;
    margin: 0 auto;
    width: 100%;
    padding: 15px 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}
.logo {
    width: 242px;
    height: 50px;
}
.nav__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    margin: 0 130px;
}
a {
    text-decoration: none;
}
.header__container {
    display: flex;
    align-items: center;
}
.header__right {
    display: flex;
    justify-content: center;
}
#user-avatar {
    width: 48px;
    height: 48px;
    margin: 0 20px;
}
.header__right--user-info li {
    font-size: 20px;
}
.yellow {
    color: #F2CB05;
}
#small {
    font-size: 16px;
}
.cart {
    width: 32px;
    height: 20px;
}