.cart-page__info {
    width: 500px;
    height: 400px;
    background-color: #444242;
    margin-left: auto;
    align-self: center;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.cart-page {
    display: flex;
    padding: 0 40px;
}
.cart-page__info__title {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    text-align: start;
}
.cart-page__info__balance {
    display: flex;
    justify-content: space-between;
}
.line {
    border: 0.5px solid #FFFFFF;;
}
.cart-page__info__result {
    display: flex;
    justify-content: space-between;
}
.total_cost_title {
    font-size: 26px;
}