.cart-item {
    margin-bottom: 20px;
}
.cart-item__details {
    display: flex;
    align-items: center;
}
.cart-item__title {
    margin-left: 40px;
    margin-right: 10px;
}
.cart-item__price {
    margin-left: 15px;
    margin-right: 30px;
}
.delete-item {
    margin-right: 30px;
}