.product-page__head {
    display: flex;
    text-align: start;
}
.product-page {
    margin: 0 76px;
}
.product-page__image {
    margin-right: 80px;
    margin-bottom: 30px;
}
.details__title {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
}
.details__desk {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 111.5%;
}
.product-page__price {
    font-family: 'Hero';
    font-style: normal;
    font-weight:lighter;
    font-size: 36px;
    line-height: 43px;
    margin: 30px 0;
}
.size{
    margin-bottom: 30px;
}
.product-page__sizes {
    margin-bottom: 30px;
}
.product-page__description {
    text-align: start;
}
.desc_title {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
}
.product-page__description-text {
    font-family: 'Hero';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 111.5%;
}